@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Mochiy+Pop+One&display=swap');



// 🍀function

$blue : #d61319;
$black : #333;
$white : #fff;
$gold : gold;
$light-color : #666;
$light-bg : #eee;

$border : 0.2rem solid $black;
$box-shadow : 0 .5rem 1rem rgba(0,0,0, 0.2);

// 🍀css320
@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
    
}

// 🍀css2022
@keyframes fadeIn{
    0%{
        transform: scale(1.5);
        opacity: 0;    
    }
}


// 🥚universal
*{
    font-family: 'Mochiy Pop One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    overflow-x: hidden;
    font-size: 62.5%;

    // scrollbar background
    &::-webkit-scrollbar-track{
        background: $light-bg;
    }

    // scrollbar color
    &::-webkit-scrollbar-thumb{
        background: $blue;
        border-radius: 5rem
    };
}

body{
    background: $light-bg;
}

section{
    padding: 3rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    color: $black;

    span{
        color: $blue;
    }
}

.coding{
    
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    background: $gold;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: $white;
    cursor: pointer;
    background: $blue;

    &:hover{
        background: $black;
    }
}


// index.html

// header-navbar -start

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1000;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;

    .logo{
        font-size: 2.5rem;
        color: $white;
        font-weight: bolder;

        i{
            color: $gold;
        }
    }

    .search-form{
        height: 5rem;
        width: 50rem;

        border-radius: 5rem;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        background: $white;

        input {
            // width: 100rem;
            padding-right: 1rem;
            font-size: 1.7rem;

            // text transform : none
            
            text-transform: none;
            
            color: $light-color;
        }
        label {
            font-size: 2rem;
            color: $light-color;
            cursor: pointer;
            
            &:hover{
                color: $blue;
            }
        }
    }
    
    .icons{
        display: flex;
    }
    
    .icons a,
    .icons div{
        // background-color: yellow;
        font-size: 2.5rem;
        margin-left: 2rem;
        color: $white;

        cursor: pointer;

        &:hover{
            color: $gold;
        }

    }


}

.home{
    background-color: $white;

    .slide{
        min-height: 40rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        gap: 2rem;

        padding: 2rem 0;


        .image{
            flex: 1 1 42rem;
            text-align: center;

            img{
                height: 70rem;
            }
        }

        .contact{
            flex: 1 1 42rem;

            span{
                font-size: 2rem;
                color: $blue;
            }
            h3{
                padding-top: 0.5rem;
                color: $black;
                font-size: 3rem;
            }
        }
    }
}

// 🥒js0432 - swiper 
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: $black;
}
